{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Administration des Utilisateurs{% endblock %}
{% block subtitle %}
	<a id="retour" href="/dashboard" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
	<a id="oneTool" href="/profil/register"><i class="fa fa-plus" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table id="BO_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Infos</th>
                                <th>Actions</th>
                            <tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <div id="divOverview" class="user" style="width: 15rem;">
                                            <img id="thumbnailOverview" src={% if user.picture is empty %}"/assets/img/profile.png"{% else %}{{ user.picture }}{% endif %} class="img-responsive" alt="{{ user.first }} {{ user.last }}">
                                        </div>
                                    </td>
                                    <td>
                                        <dl class="dl-horizontal text-left ">
                                            <dt>ID</dt>
                                            <dd>{{ user.identifier }}</dd>
                                            <dt>Nom</dt>
                                            <dd>{{ user.last }}</dd>
                                            <dt>Prénom</dt>
                                            <dd>{{ user.first }}</dd>
                                            <dt>Pseudo</dt>
                                            <dd>{{ user.username }}</dd>
                                            <dt>Mail</dt>
                                            <dd>
                                                <a href="mailto:{{ user.email }}">{{ user.email }}</a> 
                                                {% if user.validated_email is empty %}
                                                    <span class="label label-default"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Non-validée</span>
                                                {% else %}
                                                    <span class="label label-info"><i class="fa fa-sign-in" aria-hidden="true"> Validé</i></span>
                                                {% endif %}
                                            </dd>
                                            <dt>Date d'inscription</dt>
                                            <dd>{{ user.frenchCreationDate }}</dd>
                                        </dl>
                                    </td>
                                    <td class="action">
                                    <div class="row">
                                        <a href="/profil/edit&userId={{ user.identifier }}" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Modifier</a>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-identifier="{{ user.identifier }}" data-title="{{ user.username }} (id:{{ user.identifier }})" data-target="#confirmDeleteUser"><i class="fa fa-trash"></i> Supprimer</button>
                                    </div>
                                    <div class="row">
                                        <a href="/profil/{{ user.identifier }}" target="_blank" class="btn btn-primary"><i class="fa fa-eye"></i> Voir</a>
                                    </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ utils.pagination(nbPage) }}
                </div>
            </div>
        </div>
    </section>




<!-- Modal -->
<div class="modal fade" id="confirmDeleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment supprimer cet utilisateur?</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<a href="" class="btn btn-danger">Supprimer</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script src="/assets/js/admin.js"></script>
{% endblock %}