{% extends "/base.twig" %}

{% block title %}{% if action == "register" %}Inscription{% else %}Modification du profil{% endif %}{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <form action={% if action == "register" %} "index.php?action=register" {% else %} "index.php?action=updateUser{% if get.userId is not empty %}&userId={{ get.userId }}{% endif %}" {% endif %} method="post" enctype="multipart/form-data">
					<div class="col-lg-4">
						<div class="form-group">
							<label for="picture">Photo :
								<div id="divOverview">
                                    <img id="thumbnailOverview" src={% if user.picture is empty %}"assets/img/profile.png"{% else %}{{ user.picture }}{% endif %} alt="">
                                </div>
							</label>
							{# <input type="hidden" name="MAX_FILE_SIZE" value="512000"> #}
							<input type="file" name="picture" id="picture" class="form-control" accept=".gif,.jpg,.jpeg,.png,.webp">
						</div>
					</div>
					<div class="col-lg-8">
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Email</label>
								<input type="email" class="form-control" {% if action != "register" %} readonly {% endif %} placeholder="Email" name="email" value="{{ user.email }}" required data-validation-required-message="Veuillez entrer votre email.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Mot de passe</label>
								<input type="password" class="form-control" placeholder="Mot de passe" name="password" value="{{ user.password }}" required data-validation-required-message="Veuillez entrer votre mot de passe.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Confirmation du mot de passe</label>
								<input type="password" class="form-control" placeholder="Confirmation du mot de passe" name="passwordConfirm" value="{{ user.password }}" required data-validation-required-message="Veuillez entrer votre mot de passe.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Pseudo</label>
								<input type="text" class="form-control" placeholder="Pseudo *" name="username" value="{{ user.username }}">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Nom</label>
								<input type="text" class="form-control" placeholder="Nom" name="last" value="{{ user.last }}" required data-validation-required-message="Veuillez entrer votre nom.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Prénom</label>
								<input type="text" class="form-control" placeholder="Prénom" name="first" value="{{ user.first }}" required data-validation-required-message="Veuillez entrer votre prénom.">
								<p class="help-block text-danger"></p>
							</div>
							<br>
							<em>* facultatif</em>
							<br><br>
							<div id="success"></div>
							<div class="row">
								<div class="form-group col-xs-12">
									<button type="submit" class="btn btn-success btn-lg">
										{% if action == "register" %}Inscription{% else %}Modification{% endif %}
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	{% endblock %}
	{% block script %}
		<script src="assets/js/action.js"></script>
	{% endblock %}
