{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Profil{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('home') }}" ><i class="fa fa-home" aria-hidden="true"></i></a>
	{% include ('security/partials/_tools.twig') %}
{% endblock %}

{% block main %}
    <section id="profil_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">

                        {# Infos #}
                        <div class="col-md-8">
                            <dl id="profilInfos" class="dl-horizontal">
                                <dt><strong>Nom:</strong></dt>
                                <dd>{{ user.first }}</dd>
                                <dt><strong>Prénom:</strong></dt>
                                <dd>{{ user.last }}</dd>
                                <dt><strong>Email:</strong></dt>
                                <dd>
                                    {{ user.email }}
                                    {% if user.validated_email is empty %}
                                        <p class="label label-default"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Non-validée</p>
                                        {% if user.getToken() == "expired"  %}
                                            <div><a class="btn btn-danger btn-sm" href="{{ getPath('confirm_again') }}">Renvoyer l'e-mail de confirmation</a></div>
                                        {% elseif user.getToken() == "not exist"  %}
                                            <div><a class="btn btn-danger btn-sm" href="{{ getPath('confirm_again') }}">Envoyer l'e-mail de confirmation</a></div>
                                        {% else %}
                                            <p><em><small>Un mail de confirmation a déjà été envoyé! <br> Vérifier vos mails (notament les indésirables),<br> sinon contacter l'administrateur <a href="mailto:{{ cs_owner_email }}">{{ cs_owner_name }}</a></small></em></p>
                                        {% endif %}
                                    {% else %}
                                        <span class="label label-info"><i class="fa fa-check" aria-hidden="true"></i> Validé</span>
                                    {% endif %}
                                </dd>
                                <dt><strong>Pseudo:</strong></dt>
                                <dd>{% if user.isUsername %}{{ user.username }}{% else %}<i class="fa fa-ban" aria-hidden="true"></i>{% endif %}</dd>
                                <dt><strong>Membre depuis:</strong></dt>
                                <dd>le {{ user.frenchCreationDate }}</dd>
                                <dt>Commentaires:</dt>
                                <dd>{{ commentsCount }} 
                                {% if commentsPendingCount > 0 %} {% if user.role != "admin" %}<em>(dont {{ commentsPendingCount }} en attente de modération)</em>{% endif %}{% endif %}
                                </dd>
                            </dl>
                        </div>
                        {# Image profil #}
                        <div id="colOverview" class="col-xs-8 col-xs-offset-2 col-md-offset-0 col-md-4">
							<div id="divOverview" class="user">
                                <img id="thumbnailOverview" src={% if user.picture is empty %}"{{ asset('img/profile.png') }}"{% else %}{{ user.picture }}{% endif %} class="img-responsive" alt="{{ user.first }} {{ user.last }}">
                            </div>
                            {% if user.identifier == getUserParam("identifier") %}<button id="btnOverview" type="button" class="btn btn-danger btn-lg"><i class="fa fa-trash" aria-hidden="true"></i></button>{% endif %}
                        </div>
                    </div>
                    {# Commentaires #}
                    {% if comments | length > 0 %}
                    <h3 id="commentPage">Commentaires</h3>
                    {% endif %}
                    {{ utils.pagination(nbPage,"#commentPage") }}
                    {% for comment in comments %}
                        {% if not comment.deleted %}
                        <div class="panel panel-{% if comment.moderate or isAdmin() %}default{% else %}danger{% endif %}">
                            <div class="panel-heading commentHeader">
                                <p>Le {{comment.frenchCreationDate }} dans <a href="{{ getPath('post', {'id':comment.post.identifier}) }}#comment">{{ comment.post.title }}</a>  {% if not comment.moderate  and not isAdmin() %}<strong>(Non Approuvé)</strong>{% endif %}</p>
                                <div>
                                    <a href="{{ getPath('comment:update', {'id':comment.identifier}) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                    <a data-id="{{ comment.identifier }}" class="btn btn-danger delete-comment" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>{{ comment.comment | nl2br }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="panel panel-warning">
                            <div class="panel-heading commentHeader">
                                <p>Message supprimer dans <a href="{{ getPath('post', {'id':comment.post.identifier}) }}#comment">{{ comment.post.title }}</a></p>
                                <a data-id="{{ comment.identifier }}" class="btn btn-link cancel-delete-comment" role="button">Annuler la supression</a>
                            </div>
                            <div class="panel-body">
                                <del>{{ comment.comment | nl2br }}</del>
                            </div>
                        </div>

                        {% endif %}
                    {% endfor %}
                    {{ utils.pagination(nbPage,"#commentPage") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
<script src="{{ asset('js/deleteComment.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#btnOverview').click(function(){
            if (confirm("Voulez-vous vraiment supprimer votre image de profil?")){
                window.location.href="{{ getPath('profil:delete:image') }}";
            };
        });
    });
</script>
{% endblock %}
