{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Profil{% endblock %}
{% block subtitle %}
	<a id="retour" href="/" ><i class="fa fa-home" aria-hidden="true"></i></a>
	<a id="oneTool" href="index.php?action=updateUser{% if get.id %}&userId={{ get.id }}{% endif %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">

                    <div class="row">
                        <div class="col-lg-8">
                            <dl id="profilInfos" class="dl-horizontal">
                                <dt><strong>Nom:</strong></dt>
                                <dd>{{ user.first }}</dd>
                                <dt><strong>Prénom:</strong></dt>
                                <dd>{{ user.last }}</dd>
                                <dt><strong>Email:</strong></dt>
                                <dd>{{ user.email }}</dd>
                                <dt><strong>Identifiant:</strong></dt>
                                <dd>{{ user.username }}</dd>
                                <dt>Commentaires:</dt>
                                <dd>{{ commentsCount }} 
                                {% if commentsPendingCount > 0 %} <em>(dont {{ commentsPendingCount }} en attente de modération)</em>{% endif %}
                                </dd>
                            </dl>
                        </div>

                        <div class="col-lg-4">
							<div id="divOverview">
                                <img id="thumbnailOverview" src={% if user.picture is empty %}"assets/img/profile.png"{% else %}{{ user.picture }}{% endif %} class="img-responsive" alt="{{ user.first }} {{ user.last }}">
                            </div>
                        </div>
                    </div>
                    <h3 id="commentPage">Commentaires</h3>
                    {% for comment in comments %}
                        <div class="panel panel-{% if comment.moderate or session.user.role == "admin" %}default{% else %}danger{% endif %}">
                            <div class="panel-heading commentHeader">
                                <p>Le {{comment.frenchCreationDate }} dans <a href="?action=post&id={{ comment.post.identifier }}#comment">{{ comment.post.title }}</a>  {% if not comment.moderate  and session.user.role != "admin" %}<strong>(Non Approuvé)</strong>{% endif %}</p>
                                <a href="?action=commentUpdate&id={{comment.identifier }}" ><i class="fa fa-2x fa-edit" aria-hidden="true"></i></a>
                            </div>
                            <div class="panel-body">
                                <p>{{ comment.comment | nl2br }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {{ utils.pagination(nbPage,"#commentPage") }}
                </div>
            </div>
        </div>
    </section>

	
{% endblock %}
