<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				{% if session.user %}
					{{ session.user.initials }}
				{% else %}
					MENU
				{% endif %}
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/">JM Projets</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="page-scroll">
					<a href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
				</li>
				<li class="page-scroll">
					<a href="/posts"><i class="fa fa-folder" aria-hidden="true"></i> Projets</a>
				</li>
				{% if session.user %}
					<li class="dropdown desktop">
						<a id="initiales" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{ session.user.initials }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if session.user.role == "admin" %}
								<li class="page-scroll"><a href="/dashboard"><i class="fa fa-cogs" aria-hidden="true"></i> Back office</a></li>
							{% endif %}
							<li class="page-scroll"><a href="/profil"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
							<li role="separator" class="divider"></li>
							<li class="page-scroll"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
						</ul>
					</li>
					{# Mobile #}
					{% if session.user.role == "admin" %}
						<li class="page-scroll mobile"><a href="/dashboard"><i class="fa fa-cogs" aria-hidden="true"></i> Back office</a></li>
					{% endif %}
					<li class="page-scroll mobile"><a href="/profil"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
					<li class="page-scroll mobile"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
					{# /Mobile #}
					<li class="page-scroll">
						<a href="/posts">
							<div id="divOverview" class="user" style="width: 3rem;">
								<img id="thumbnailOverview" src={% if session.user.picture is empty %}"/assets/img/profile.png"{% else %}{{ session.user.picture }}{% endif %} class="img-responsive" alt="{{ session.user.first }} {{ session.user.last }}">
							</div>
						</a>
					</li>
				{% else %}
					<li class="page-scroll"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
					<li class="page-scroll"><a href="/profil/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Inscription</a></li>
				{% endif %}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
