<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container custom-nav">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				{% if isLogged() %}
					{{ getUserParam("initials") }}
				{% else %}
					MENU
				{% endif %}
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="{{ getPath('home') }}">{{ cs_site_name }}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="page-scroll">
					<a href="{{ getPath('home') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
				</li>
				<li class="dropdown">
					<a id="categories_drop" href="#" class="dropdown-toggle desktop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-folder" aria-hidden="true"></i> Catégories <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{% for category in categories %}
						<li class="page-scroll"><a href="{{ getPath('post:id', {'id':category.identifier}) }}"><i class="fa fa-folder-open" aria-hidden="true"></i> {{ category.name }}</a></li>
						{% endfor %}
						<li role="separator" class="divider"></li>
						<li class="page-scroll"><a href="{{ getPath('posts:categories') }}"><i class="fa fa-sitemap" aria-hidden="true"></i> Voir les Catégories</a></li>
						<li class="page-scroll"><a href="{{ getPath('posts') }}"><i class="fa fa-files-o" aria-hidden="true"></i> Tous les articles</a></li>
					</ul>
				</li>
				{% if isLogged() %}
					<li class="dropdown desktop">
						<a id="initiales" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{ getUserParam("initials") }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if isAdmin() %}
								<li class="page-scroll"><a href="{{ getPath('dashboard') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Back office</a></li>
							{% endif %}
							<li class="page-scroll"><a href="{{ getPath('profil') }}"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
							<li role="separator" class="divider"></li>
							<li class="page-scroll"><a href="{{ getPath('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
						</ul>
					</li>
					{# Mobile #}
					{% if isAdmin() %}
						<li class="page-scroll mobile"><a href="{{ getPath('dashboard') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Back office</a></li>
					{% endif %}
					<li class="page-scroll mobile"><a href="{{ getPath('profil') }}"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
					<li class="page-scroll mobile"><a href="{{ getPath('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
					{# /Mobile #}
					<li class="desktop">
						<a href="{{ getPath('profil') }}">
							<div id="divOverview" class="user" style="width: 3rem;">
								<img id="thumbnailOverview" src={% if getUserParam("picture") is empty %}"/assets/img/profile.png"{% else %}{{ getUserParam("picture") }}{% endif %} class="img-responsive" alt="{{ getUserParam("username") }}">
							</div>
						</a>
					</li>
				{% else %}
					<li class="page-scroll"><a href="{{ getPath('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
					<li class="page-scroll"><a href="{{ getPath('register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Inscription</a></li>
				{% endif %}
			</ul>
		</div>
		<a id="avatar_mobile" class="mobile" href="{{ getPath('profil') }}">
			<div id="divOverview" class="user" style="width: 3rem;">
				<img id="thumbnailOverview" src={% if getUserParam("picture") is empty %}"/assets/img/profile.png"{% else %}{{ getUserParam("picture") }}{% endif %} class="img-responsive" alt="{{  getUserParam("username") }}">
			</div>
		</a>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
