{% extends "/base.twig" %}

{% block title %}{% if action == "add" %}Ajout{% else %}Modification{% endif %} d'un projet{% endblock %}
{% block subtitle %}
	<a id="retour" href="javascript:history.back()" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
					<form action={% if action == "add" %}"index.php?action=postAdd"{% else %}"index.php?action=postUpdate&id={{ post.identifier }}"{% endif %} method="post">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Titre</label>
                                <input type="text" class="form-control" placeholder="Titre" id="title" name="title" value="{{ post.title }}" required data-validation-required-message="Please enter title.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Chapô</label>
                                <textarea rows="3" class="form-control" placeholder="Chapô" id="chapo" name="chapo" >{{ post.chapo }}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Url</label>
                                <input type="url" class="form-control" placeholder="Url" id="url" name="url" value="{{ post.url }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Contenu</label>
                                <textarea rows="5" class="form-control" placeholder="Contenu" id="content" name="content" required data-validation-required-message="Please enter a content.">{{ post.content }}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

	
{% endblock %}
