{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Administration des projets{% endblock %}
{% block subtitle %}
	<a id="retour" href="/dashboard" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
	<a id="oneTool" href="/admin/posts/add" ><i class="fa fa-plus" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">

                    <div>
                        <span>Filtre par catégorie:</span>
                        <div class="btn-group" role="group">
                            <a href="/admin/posts" type="button" class="btn btn-default">All</a>
                            {% for category in categories %}
                            <a href="/admin/posts/{{ category.identifier }}" type="button" class="btn btn-default">{{ category.name }}</a>
                            {% endfor %}
                            <a href="/admin/posts/0" type="button" class="btn btn-default">Non classé</a>
                        </div>
                    </div>

                    {{ utils.pagination(nbPage) }}
                    <table id="BO_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Infos</th>
                                <th>Actions</th>
                            <tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>
                                        {% if post.picture is not empty %}
                                            <img class="img-thumbnail" width="200px" src="{{ post.picture }}" alt='{{ post.title }} picture'>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <dl class="dl-horizontal text-left ">
                                            <dt>Titre</dt>
                                            <dd>{{ post.title }}</dd>
                                            <dt>Chapô</dt>
                                            <dd>{{ post.chapo }}</dd>
                                            <dt>Url</dt>
                                            <dd><a href="{{ post.url }}" target="_blank">{{ post.url }}</a></dd>
                                            <dt>Catégorie</dt>
                                            <dd>
                                                {% if post.category != null %}
                                                <span class="label label-primary">{{ post.category.name }}</span>
                                                {% else %}
                                                <span class="label label-default">Non classé</span>
                                                {% endif %} 
                                            </dd>
                                            <dt>Date de création</dt>
                                            <dd>{{ post.frenchCreationDate }}</dd>
                                        </dl>
                                    </td>
                                    <td class="action">
                                        <div class="row">
                                            <a href="/admin/posts/update/{{ post.identifier }}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i> Editer</a>
                                        </div>
                                        <div class="row">
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-identifier="{{ post.identifier }}" data-title="{{ post.title }} (id:{{ post.identifier }})" data-target="#confirmDeletePost"><i class="fa fa-trash"></i> Supprimer</button>
                                        </div>
                                        <div class="row">
                                            <a href="/post/{{ post.identifier }}" target="_blank" class="btn btn-primary"><i class="fa fa-external-link"></i> Voir</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ utils.pagination(nbPage) }}
                </div>
            </div>
        </div>
    </section>




<!-- Modal -->
<div class="modal fade" id="confirmDeletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment supprimer ce post?</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<a href="" class="btn btn-danger">Supprimer</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script src="/assets/js/admin.js"></script>
{% endblock %}