{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}
{% import "macros/csrf.twig" as csrf %}

{% block title %}Administration des projets{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('dashboard') }}" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
	<a id="oneTool" href="{{ getPath('admin:post:add') }}" ><i class="fa fa-plus" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-inline">
                                <span>Filtre par catégorie:</span>
                                <div class="btn-group" role="group">
                                    <a href="{{ getPath('admin:posts') }}" type="button" class="btn btn-{% if categoryId == "all" %}primary{% else %}default{% endif %}">All</a>
                                    {% for category in categories %}
                                    <a href="{{ getPath('admin:posts:category:nbr_show', {"category": category.identifier, "nbr_show": nbr_show}) }}" type="button" class="btn btn-{% if categoryId == category.identifier %}primary{% else %}default{% endif %}">{{ category.name }}</a>
                                    {% endfor %}
                                    <a href="{{ getPath('admin:posts:category:nbr_show', {"category": "NC", "nbr_show": nbr_show}) }}" type="button" class="btn btn-{% if categoryId == "NC" %}primary{% else %}default{% endif %}">Non classé</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 text-right">{{ utils.nbp(nbr_show) }}</div>
                    </div>
                    {{ utils.pagination(nbPage) }}
                    <table id="BO_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Infos</th>
                                <th>Actions</th>
                            <tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td class="div-pic">
                                        {% if post.picture is not empty %}
                                            <img class="img-thumbnail" width="200px" src="{{ post.picture }}" alt='{{ post.title }} picture'>
                                            <button data-csrf="{{ getCsrf() }}" data-target="{{ getPath('admin:post:delete:picture', {'id': post.identifier}) }}" class="btn btn-danger btn-xs delete-pic"><i class="fa fa-trash"></i></button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <dl class="dl-horizontal text-left ">
                                            <dt>Titre</dt>
                                            <dd>{{ post.title }}</dd>
                                            <dt>Chapô</dt>
                                            <dd>{{ post.chapo }}</dd>
                                            <dt>Url</dt>
                                            <dd><a href="{{ post.url }}" target="_blank">{{ post.url }}</a></dd>
                                            <dt>Catégorie</dt>
                                            <dd>
                                                {% if post.category != null %}
                                                <span class="label label-primary">{{ post.category.name }}</span>
                                                {% else %}
                                                <span class="label label-default">Non classé</span>
                                                {% endif %} 
                                            </dd>
                                            <dt>Date de création</dt>
                                            <dd>{{ post.frenchCreationDate }}</dd>
                                        </dl>
                                    </td>
                                    <td class="action">
                                        <div class="row">
                                            <a href="{{ getPath('admin:post:update', {'id': post.identifier}) }}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i> Editer</a>
                                        </div>
                                        <div class="row">
                                            {{ csrf.button_delete(getPath('admin:post:delete', {'id':post.identifier})) }}
                                        </div>
                                        <div class="row">
                                            <a href="{{ getPath('post', {'id': post.identifier}) }}" target="_blank" class="btn btn-primary"><i class="fa fa-external-link"></i> Voir</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ utils.pagination(nbPage) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="{{ asset('js/admin.js') }}"></script>
<script>
$('#nbr_show').change(function(){
    window.location.href = "{{ getPath('admin:posts') }}/{{ categoryId }}/" + $("#nbr_show").val();
});
</script>
{% endblock %}