{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Administration des projets{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('dashboard') }}" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
	<a id="oneTool" href="{{ getPath('admin:post:add') }}" ><i class="fa fa-plus" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">

                    <div>
                        <span>Filtre par catégorie:</span>
                        <div class="btn-group" role="group">
                            <a href="{{ getPath('admin:posts') }}" type="button" class="btn btn-{% if categoryId == null %}primary{% else %}default{% endif %}">All</a>
                            {% for category in categories %}
                            <a href="{{ getPath('admin:posts:category', {"category": category.identifier}) }}" type="button" class="btn btn-{% if categoryId == category.identifier %}primary{% else %}default{% endif %}">{{ category.name }}</a>
                            {% endfor %}
                            <a href="{{ getPath('admin:posts:category', {"category": "0"}) }}" type="button" class="btn btn-{% if categoryId == "0" %}primary{% else %}default{% endif %}">Non classé</a>
                        </div>
                    </div>

                    {{ utils.pagination(nbPage) }}
                    <table id="BO_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Infos</th>
                                <th>Actions</th>
                            <tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>
                                        {% if post.picture is not empty %}
                                            <img class="img-thumbnail" width="200px" src="{{ post.picture }}" alt='{{ post.title }} picture'>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <dl class="dl-horizontal text-left ">
                                            <dt>Titre</dt>
                                            <dd>{{ post.title }}</dd>
                                            <dt>Chapô</dt>
                                            <dd>{{ post.chapo }}</dd>
                                            <dt>Url</dt>
                                            <dd><a href="{{ post.url }}" target="_blank">{{ post.url }}</a></dd>
                                            <dt>Catégorie</dt>
                                            <dd>
                                                {% if post.category != null %}
                                                <span class="label label-primary">{{ post.category.name }}</span>
                                                {% else %}
                                                <span class="label label-default">Non classé</span>
                                                {% endif %} 
                                            </dd>
                                            <dt>Date de création</dt>
                                            <dd>{{ post.frenchCreationDate }}</dd>
                                        </dl>
                                    </td>
                                    <td class="action">
                                        <div class="row">
                                            <a href="{{ getPath('admin:post:update', {'id': post.identifier}) }}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i> Editer</a>
                                        </div>
                                        <div class="row">
                                            <a href="{{ getPath('admin:post:delete', {'id': post.identifier}) }}" class="btn btn-danger confirm"><i class="fa fa-trash"></i> Supprimer</a>
                                        </div>
                                        <div class="row">
                                            <a href="{{ getPath('post', {'id': post.identifier}) }}" target="_blank" class="btn btn-primary"><i class="fa fa-external-link"></i> Voir</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ utils.pagination(nbPage) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="/assets/js/admin.js"></script>
{% endblock %}