<div id="tools">
    <div class="menu menu--closed">
        <div class="button">
            <img 
                width="32" 
                height="32" 
                class="icon pen" 
                src="{{ asset('img/ico/dots.png') }}"
            />
        </div>
        <div class="tools tools--hidden">
            <a 
            href="{{ getPath('profil:edit') }}{% if user.identifier != getUserParam("identifier") %}&userId={{ user.identifier }}{% endif %}" 
            data-toggle="tooltip" 
            data-placement="left" 
            title="Modifier le profil"
            >
                <img 
                    class="icon pen" 
                    width="32" 
                    height="32" 
                    src="{{ asset('img/ico/modifier_ico.png') }}"
                /> Modifier le profil
            </a>
            <a
            href="{{ getPath('profil:edit:mail') }}"
            data-toggle="tooltip" 
            data-placement="left" 
            title="Modifier l'adresse mail"
            >
                <img width="32" height="32" class="icon" src="{{ asset('img/ico/modifier_mail_ico.png') }}">
                Modifier l'adresse mail
            </a>
            <a
            href="{{ getPath('profil:edit:password') }}"
            data-toggle="tooltip" 
            data-placement="left" 
            title="Modifier le mot de passe"
            >
                <img width="32" height="32" class="icon" src="{{ asset('img/ico/modifier_pass_ico.png') }}">
                Modifier le mot de passe
            </a>
        </div>
    </div>
</div>
