{% extends "/base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block main %}

<section id="dashbord">
	<div class="container">
		<div class="row text-center">

			<div class="col-sm-4 dashbord-item">
				<a href="{{ getPath('admin:categories') }}" class="dashbord-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/categories.png" class="img-responsive" alt="">
				</a>
			</div>

			<div class="col-sm-4 dashbord-item">
				<a href="{{ getPath('admin:posts') }}" class="dashbord-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/projets.png" class="img-responsive" alt="">
				</a>
			</div>

			<div class="col-sm-4 dashbord-item">
				<a href="{{ getPath('admin:comments') }}" class="dashbord-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/commentaires.png" class="img-responsive" alt="">
				</a>
			</div>

		</div>
		<div class="row text-center">

			<div class="col-sm-4 dashbord-item">
				<a href="{{ getPath('admin:users') }}" class="dashbord-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/utilisateurs.png" class="img-responsive" alt="">
				</a>
			</div>

			<div class="col-sm-4 dashbord-item">
				<a href="{{ getPath('admin:configs') }}" class="dashbord-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/configurations.png" class="img-responsive" alt="">
				</a>
			</div>
			
			<div class="col-sm-4 dashbord-item">
				<a href="{{ getPath('admin:docs') }}" class="dashbord-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-eye fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/documentation.png" class="img-responsive" alt="">
				</a>
			</div>
		</div>
	</div>
    </section>
{% endblock %}
