{# Pagination #}
{% macro pagination(nbPage, index = false) %}
    {% if nbPage > 1 %}
    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="{{ getPathWithoutGet() }}{% if get('id') %}&id={{ get('id') }}{% endif %}{% if get('filter') %}&filter={{ get('filter') }}{% endif %}{% if index %}{{ index }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in 1.. nbPage %}
                    {% if get('page') != null %}{% set currentPage = get('page') %}{% else %}{% set currentPage = 1 %}{% endif %}
                    <li {% if currentPage == page %} class="active"{% endif %}>
                        <a href="{{ getPathWithoutGet() }}{% if get('id') %}&id={{ get('id') }}{% endif %}{% if get('filter') %}&filter={{ get('filter') }}{% endif %}&page={{ page }}{% if index %}{{ index }}{% endif %}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{{ getPathWithoutGet() }}{% if get('id') %}&id={{ get('id') }}{% endif %}{% if get('filter') %}&filter={{ get('filter') }}{% endif %}&page={{ nbPage }}{% if index %}{{ index }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
{% endmacro %}

{# Nombre par page #}
{% macro nbp(nbr_show) %}
<form class="form-inline">
    <div class="form-group">
        <label>Nbr/Page</label>
        <select class="form-control" id="nbr_show">
            <option {% if nbr_show == 0 %}selected{% endif %} value="0">Tous</option>
            <option {% if nbr_show == 5 %}selected{% endif %} value="5">5</option>
            <option {% if nbr_show == 10 %}selected{% endif %} value="10">10</option>
            <option {% if nbr_show == 20 %}selected{% endif %} value="20">20</option>
            <option {% if nbr_show == 50 %}selected{% endif %} value="50">50</option>
            <option {% if nbr_show == 100 %}selected{% endif %} value="100">100</option>
        </select>
    </div>
</form>
{% endmacro %}

{# Flash #}
{% macro flash(flash ) %}
    {% if flash.type == "mail_not_validated" %}
        {% set type = "danger" %}
        {% set title = "Vous n'avez pas validé votre e-mail!" %}
        {% set message = "Veuillez valider votre adresse e-mail sinon vous ne pourrez pas accéder à certaines fonctionnalités" %}
        {% set option %}
            <a class="btn btn-default btn-sm" role="button" href="{{ getPath("profil") }}/#profil_section">accéder au profil</a>
        {% endset %}
    {% else %}
        {% set type, title, message = flash.type, flash.title, flash.message %}
    {% endif %}
    {% if flash.type != "mail_not_validated" or (flash.type == "mail_not_validated" and getPath() != getPath("profil") and getPath() != getPath("confirmAgain"))  %}
    <div class="alert alert-{{ type }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><strong>{{ title }}</strong></h3>
        <p>{{ message | raw }}</p>
        
        {{ option }}
    </div>
    {% endif %}
{% endmacro %}

{#  #}
{% macro actionBtn( actionName ) %}
    <p class='multiAction'>
        {{ actionName }} sélectionnés: 
        {% import "macros/csrf.twig" as csrf %}
        {{ csrf.input() }}
        <input type="submit" class="btn btn-default confirm" name="btnSubmit" value="Invalider">
        <input type="submit" class="btn btn-success confirm" name="btnSubmit" value="Valider">
        <input type="submit" class="btn btn-danger confirm" name="btnSubmit" value="Refuser">
    </p>
{% endmacro %}

{# Réseaux sociaux #}
{% macro social_networks() %}
    <ul class="list-inline">
        {% if rs_github %}
            <li><a href="{{ rs_github }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a></li>
        {% endif %}
        {% if rs_linkedin %}
            <li><a href="{{ rs_linkedin }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li>
        {% endif %}
        {% if rs_instagram %}
            <li><a href="{{ rs_instagram }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a></li>
        {% endif %}
        {% if rs_facebook %}
            <li><a href="{{ rs_facebook }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a></li>
        {% endif %}
        {% if rs_twitter %}
            <li><a href="{{ rs_twitter }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a></li>
        {% endif %}
        {% if rs_youtube %}
            <li><a href="{{ rs_youtube }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a></li>
        {% endif %}
        {% if rs_dribbble %}
            <li><a href="{{ rs_dribbble }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a></li>
        {% endif %}
        {% if rs_google_plus %}
            <li><a href="{{ rs_google_plus }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a></li>
        {% endif %}
    </ul>

{% endmacro %}

{# Coordonnées #}
{% macro contact(title = false) %}
    {% if title %}
        <h3>{{ title }}</h3>
    {% endif %}
    <ul class="list-unstyled">
        {% if cs_address %}
            <li><i class="fa fa-map-marker fa-fw"></i> {{ cs_address }}</li>
        {% endif %}
        {% if cs_owner_phone %}
            <li><i class="fa fa-phone fa-fw"></i> <a href="tel:{{ cs_owner_phone }}">{{ cs_owner_phone }}</a></li>
        {% endif %}
        {% if cs_owner_email %}
            <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ cs_owner_email }}">{{ cs_owner_email }}</a></li>
        {% endif %}
        {% if af_contact_form_display == "ON" %}
            <li class="page-scroll"><a href="{{ getPath('home') }}#contact">Formulaire de contact</a></li>
        {% endif %}
    </ul>
{% endmacro %}

{# Convert content #}
{% macro content_converter(content, configName) %}
    <div {% if (configName | slice(0, 15) == "af_home_content") %}class="home_content text-center"{% endif %}>
        {% if content | first == "<" %}
            {{ content | raw }}
        {% elseif content | slice(0, 2) == "[%" %}
            {% set macroName = content | slice(2) | slice(0, -2) %}
            {% if macroName == "contact" %}
                {{ _self.contact(af_home_contact_title) }}
            {% elseif macroName == "reseaux" %}
                {{ _self.social_networks() }}
            {% elseif macroName == "contact+reseaux" %}
                {{ _self.contact(af_home_contact_title) }}
                {{ _self.social_networks() }}
            {% endif %}
        {% elseif content | slice(0, 11) == "data:image/" %}
            <img class='convertedContentImage' src="{{ content }}" width="100%" alt="image">
        {% elseif content == "" %}
            <i class="fa fa-ban"></i> Vide
        {% else %}
            {{ content }}
        {% endif %}
    </div>
    <style>
        .home_content {
            background: #dd9b0d;
            padding: 20px;
            color: #fff;
        }
        .home_content a {
            color: #81260a;
        }
        .home_content img {
            width: 50%;
        }
    </style>
{% endmacro %}
