{# Pagination #}
{% macro pagination(nbPage, index = false) %}
    {% if nbPage > 1 %}
    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/{{ get.url }}{% if get.id %}&id={{ get.id }}{% endif %}{% if get.filter %}&filter={{ get.filter }}{% endif %}{% if index %}{{ index }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in 1.. nbPage %}
                    {% if get.page is defined %}{% set currentPage = get.page %}{% else %}{% set currentPage = 1 %}{% endif %}
                    <li {% if currentPage == page %} class="active"{% endif %}>
                        <a href="/{{ get.url }}{% if get.id %}&id={{ get.id }}{% endif %}{% if get.filter %}&filter={{ get.filter }}{% endif %}&page={{ page }}{% if index %}{{ index }}{% endif %}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="/{{ get.url }}{% if get.id %}&id={{ get.id }}{% endif %}{% if get.filter %}&filter={{ get.filter }}{% endif %}&page={{ nbPage }}{% if index %}{{ index }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
{% endmacro %}

{# Flash #}
{% macro flash(type, title = null, message = null ) %}
    {% if type == "mail_not_validated" %}
        {% set type = "danger" %}
        {% set title = "Vous n'avez pas validé votre e-mail!" %}
        {% set message = "Veuillez valider votre adresse e-mail sinon vous ne pourrez pas accéder à certaines fonctionnalités" %}
        {% set option %}
            <a class="btn btn-default btn-sm" role="button" href="/profil#profil_section">accéder au profil</a>
        {% endset %}
    {% endif %}
    
    <div class="container">
        <div class="alert alert-{{ type }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3><strong>{{ title }}</strong></h3>
            <p>{{ message }}</p>
            
            {{ option }}
        </div>
    </div>
{% endmacro %}