{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Modification de {{config.name}}{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('admin:configs:list',{'prefix': config.name |split("_")|first }) }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <script src="/vendor/tinymce/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: '#mytextarea'
        });
    </script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
					<form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="name" value="{{config.name}}" >
                        <div class="row control-group">
                            {# IMAGE FIELD #}
                            {% macro imageField(value, id) %}
                            <div id="image" class="form-group col-lg-6 col-lg-offset-3" style='display:block !important;'>
                                <label for="picture">Image
                                    <div id="divOverview">
                                        <img id="thumbnailOverview" class="thumbnailOverview" src="{% if value is not empty and value | slice(0, 11) == "data:image/" %}{{ value }}{% else %}{{ asset('img/post.png') }}{% endif %}" alt="">
                                        <button id="btnOverview" data-id="{{ id }}" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </label>
                                <input type="file" name="value" id="picture" class="form-control picture" accept=".gif,.jpg,.jpeg,.png,.webp">
                                <p id="imgSize"></p>
                                <p>Taille max : 500 KB</p>
                            </div>
                            {% endmacro %}
                            {% if config.value == 'ON' or config.value == 'OFF' %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="value" id="optionsRadios1" value="ON" {% if config.value == 'ON'%}checked{% endif %} >
                                        ON
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="value" id="optionsRadios2" value="OFF" {% if config.value == 'OFF'%}checked{% endif %}>
                                        OFF
                                    </label>
                                </div>
                            {% elseif config.type == "editor" %}
                                <div class="col-lg-12 control-group">
                                    <div class="row form-group">
                                        <div class="col-sm-2 col-sm-offset-3 text-center" style="padding: 7px 0;">Type</div>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="type">
                                                <option>Aucun contenu</option>
                                                <option {% if config.value | first == "<" %}selected{% endif %} value="content">Contenu</option>
                                                <option {% if config.value | slice(0, 11) == "data:image/" %}selected{% endif %} value="image">Image</option>
                                                <option {% if config.value | slice(0, 2) == "[%" %}selected{% endif %} value="template">Template</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {# NO CONTENT #}
                                <input id="no_content" name="value" class="form-control" type="text" readonly value="">
                                {# CONTENT #}
                                <textarea name="value" id="mytextarea" >{{ config.value }}</textarea>
                                {# IMAGE #}
                                {{ _self.imageField(config.value, config.identifier) }}
                                {# TEMPLATE #}
                                <div id="template">
                                    <select name="value" class="form-control" id="select_template">
                                        <option value="">Sélectionner un template</option>
                                        <option {% if config.value == "[%contact%]" %}selected{% endif %} value="[%contact%]">Contact</option>
                                        <option {% if config.value == "[%reseaux%]" %}selected{% endif %} value="[%reseaux%]">Réseaux sociaux</option>
                                        <option {% if config.value == "[%contact+reseaux%]" %}selected{% endif %} value="[%contact+reseaux%]">Contact + Réseaux sociaux</option>
                                    </select>
                                    <div id="template_div" class='text-center'>
                                        <p id="template_overview_title">Exemple</p>
                                        <div id="template_overview"></div>
                                    </div>
                                </div>
                                <br>
                            {% elseif config.type == 'image' %}
                                {{ _self.imageField(config.value, config.identifier) }}
                            {% elseif config.type == 'color' %}
                                <button id="empty" class="btn btn-default btn-lg">Couleur par defaut: {{ config.default_value }}</button><br><br>
                                <div class="form-group col-xs-4 floating-label-form-group controls text-center">
                                    <label>Valeur</label>
                                    <div id="val_transparent">
                                        <input name="value" class="form-control" type="text" readonly value="transparent">
                                        <button id="change_color" class="btn btn-default btn-lg">Changer</button>
                                    </div>
                                    <input type="color" name="value" id="value" style="height: 5rem;width: 10rem;border: 3px black solid;padding: 0;" value="{{ config.value }}">
                                </div>
                            {% elseif config.type == 'select' %}
                                <div class="form-group col-xs-3 controls text-center">
                                    <select class="form-control" name="value" id="value">
                                        <option value="">Sélectionner une valeur</option>
                                        {% for item in config.description|split('\n')|last|split(', ') %}
                                        <option {% if config.value == item %}selected{% endif %} value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% else %}
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <button class="btn btn-danger btn-sm emptyOne"><i class="fa fa-minus-square"></i></button>
                                    <label>Valeur</label>
                                    <textarea rows="3" class="form-control" placeholder="Valeur" id="value" name="value" >{{ config.value }}</textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            {% endif %}
                            <div class="form-group col-xs-12 form-custom controls">
                                <label class='desc-label'>Description</label>
                                <p class="form-control-static">{{ config.description|raw }}</p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <style>
        #template_div {
            position: relative;
            border: thick double #ccc;
            padding: 10px;
            background: #dd9b0d;
            margin: 4rem 0 2rem 0;
        }
        #template_overview_title {
            position: absolute;
            border: thick double #ccc;
            top: -3rem;
            background: whitesmoke;
            border-radius: 15px;
            padding: 1rem 2rem;
            font-weight: bold;
        }
        #template_overview {
            color: #fff;
        }
        #template_overview a{
                color: #81260a;
            }
        main {
            background-color: whitesmoke !important;
        }
        #divOverview {
            position: relative;
        }
        #divOverview > button {
            position: absolute;
            top: 0;
            right: 0;
            margin: .5rem;
            border-radius: 50%;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ asset('js/picture.js') }}"></script>
    <script>
        {# EDIT COLOR #}
        {% if config.value == "transparent" %}
        $("#value").prop("disabled", true);
        $("#value").hide();
        {% else %}
        $("#val_transparent").prop("disabled", true);
        $("#val_transparent").hide();
        {% endif %}

        $("#empty").click(function(e) {
            e.preventDefault();
            {% if config.default_value == "transparent" %}
            $("#val_transparent").show();
            $("#val_transparent").prop("disabled", false);
            $("#value").prop("disabled", true);
            $("#value").hide();
            {% else %}
            $("#value").val("{{ config.default_value }}");
            {% endif %}
        });

        $('#change_color').click(function(e) {
            e.preventDefault();
            $("#val_transparent").prop("disabled", true);
            $("#val_transparent").hide();
            $("#value").show();
            $("#value").prop("disabled", false);
        });
    </script>
    <script>
        {# DELETE FIELD #}
        $('.emptyOne').each(function() {
            $(this).click(function(e) {
                e.preventDefault();
                $(this).parent().find('textarea').val('');
            });
        });
    </script>
    <script>
        {# DELETE IMAGE #}
        $('#btnOverview').click(function(){
            if (confirm("Voulez-vous vraiment supprimer cette image?")){
                window.location.href="{{ getPath('admin:config:delete:value', {value: config.identifier}) }}";
            };
        });
    </script>
    <script>
        {# HIDE USELESS FIELD #}
        $('#no_content').hide();
        {% if config.value != "" %}
            $('#no_content').prop('disabled', true);
        {% endif %}
        {% if config.value | first != "<" %}
            $('#mytextarea').prop('disabled', true);
            $('#mytextarea').hide();
        {% endif %}
        {% if config.value | slice(0, 2) != "[%" %}
            $('#select_template').prop('disabled', true);
            $('#template').hide();
        {% endif %}
        {% if config.value | slice(0, 11) != "data:image/" %}
            $('#picture').prop('disabled', true);
            $('#image').hide();
        {% endif %}
        {% if (config.type == 'image') %}
            $('#image').show();
        {% endif %}

        {# SHOW SELECTED CONTENT #}
        $('#type').change(function(){
            $('#no_content').prop('disabled', true);
            $('#mytextarea').prop('disabled', true);
            $('.tox-tinymce').hide();
            $('#picture').prop('disabled', true);
            $('#image').hide();
            $('#select_template').prop('disabled', true);
            $('#template').hide();
            switch ($(this).val()) {
                case 'content':
                    $('.tox-tinymce').show();
                    $('#mytextarea').prop('disabled', false);
                    break;
                case 'image':
                    $('#image').show();
                    $('#picture').prop('disabled', false);
                    break;
                case 'template':
                    $('#template').show();
                    $('#select_template').prop('disabled', false);
                    break;
                default:
                    $('#no_content').prop('disabled', false);
                    break;
            }
        });

        {# CHANGE TEMPLATE OVERVIEW #}
        $('document').ready(function(){
        changeTemplateOverview($('#select_template').val());
        });
        $('#select_template').change(function(){
            changeTemplateOverview($(this).val());
        });
        const template_contact = '<h3>Titre</h3><ul class="list-unstyled"><li><i class="fa fa-map-marker fa-fw"></i> 1 rue de la libération 75000 PARIS</li><li><i class="fa fa-phone fa-fw"></i> <a>0123456789</a></li><li><i class="fa fa-envelope-o fa-fw"></i> <a>votre@adresse.fr</a></li><li class="page-scroll"><a>Formulaire de contact</a></li></ul>';
        const template_reseaux = '<ul class="list-inline"><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a></li><li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a></li></ul>';
        const template_contact_reseaux = template_contact + template_reseaux;
        function changeTemplateOverview(template) {
            switch (template) {
                case '[%contact%]':
                    $('#template_overview').html(template_contact);
                    break;
                case '[%reseaux%]':
                    $('#template_overview').html(template_reseaux);
                    break;
                case '[%contact+reseaux%]':
                    $('#template_overview').html(template_contact_reseaux);
                    break;
                default:
                    $('#template_overview').html('Selectionnez un template pour voir un aperçu');
                    break;
            }
        }
    </script>
{% endblock %}