{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Configuration du site{% endblock %}
{% block subtitle %}
	<a id="retour" href="/dashboard" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ utils.pagination(nbPage) }}
                    <table id="BO_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Paramètre</th>
                                <th>Valeur</th>
                                <th>Description</th>
                                <th class="text-center">Actions</th>
                            <tr>
                        </thead>
                        {% for prefix, sorted_configs in configs %}
                            <thead>
                                <tr class="active">
                                    <th></th>
                                    <th>{{ prefix }}</th>
                                    <th></th><th></th><th></th>
                                <tr>
                            </thead>
                            <tbody>
                                {% for config in sorted_configs %}
                                    <tr>
                                        <td>#{{ config.identifier }}</td>
                                        <td>{{ config.name }}</td>
                                        <td>{{ config.value }}</td>
                                        <td>{{ config.description }}</td>
                                        <td class="action">
                                            <div class="row">
                                                <a href="/admin/config/update/{{ config.identifier }}" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Modifier</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                    {{ utils.pagination(nbPage) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}