{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Configuration{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('dashboard') }}" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section id="dashbord">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col-sm-4 dashbord-item">
                        <a href="{{ getPath('admin:configs:list', {'prefix' : 'cs'} ) }}" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('img/dashboard/conf_site.png') }}" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 dashbord-item">
                        <a href="{{ getPath('admin:configs:list', {'prefix' : 'mb'} ) }}" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('img/dashboard/conf_mail.png') }}" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 dashbord-item">
                        <a href="{{ getPath('admin:configs:list', {'prefix' : 'rs'} ) }}" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('img/dashboard/conf_reseaux.png') }}" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 dashbord-item">
                        <a href="{{ getPath('admin:configs:list', {'prefix' : 'af'} ) }}" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('img/dashboard/conf_affichage.png') }}" class="img-responsive" alt="">
                        </a>
                    </div>
                    {# <div class="col-sm-4"></div> #}
                    <div class="col-sm-4 dashbord-item">
                        <a href="{{ getPath('admin:configs:list', {'prefix' : 'sd'} ) }}" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('img/dashboard/outils.png') }}" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 dashbord-item">
                        <a class="dashbord-link confirm" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-trash fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('img/dashboard/delete_bdd.png') }}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
$(".confirm").click(function(e){
    if(confirm('Voulez-vous vraiment supprimer la base de données ?')){
        $.ajax({
            url: "{{ getPath('delete_bdd' ) }}",
            type: 'post',
            data: {
                'secret': "{{ getSecret() }}"
            }
        })
        .done(function(data) {
            alert('La base de données a bien été supprimée');
            location.href = "{{ getPath('home') }}";
        })
        .fail(function(jqXHR) {
            alert('Une erreur est survenue');
        });
    }
});
</script>
{% endblock %}