{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Configuration {{ title }}{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('admin:configs') }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section id="dashbord">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% set Couleurs = {} %}
                    {% set Slider = {} %}
                    {% set Accueil = {} %}
                    {% set Autres = {} %}
                    {% if prefix == "af" %}
                        {% for config in configs %}
                            {% set cn = config.name |split('_') %}
                            {% if cn[1] == "color" %}
                                {% set Couleurs = Couleurs|merge([config]) %}
                            {% elseif cn[1] == "slider" %}
                                {% set Slider = Slider|merge([config]) %}
                            {% elseif cn[1] == "home" %}
                                {% set Accueil = Accueil|merge([config]) %}
                            {% else %}
                                {% set Autres = Autres|merge([config]) %}
                            {% endif %}
                        {% endfor %}
                        {% set configs_sorted = {Couleurs,Accueil,Slider,Autres} %}
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% for key, configs in configs_sorted %}
                            <li class="nav-item {% if getCookie('anchor') == key %}active{% elseif loop.first and getCookie('anchor') == "" %}active{% endif %}">
                                <a class="nav-link" data-toggle="tab" href="#{{ key }}" role="tab">{{ key }}</a>
                            </li>
                            {% endfor %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% for key, configs in configs_sorted %}
                            <div role="tabpanel" class="tab-pane fade {% if getCookie('anchor') == key %}in active{% elseif loop.first  and getCookie('anchor') == "" %}in active{% endif %}" id="{{ key }}">
                            {{ _self.list_table(configs,key) }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    {{ _self.list_table(configs) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}

{% macro list_table(configs, key) %}
<table id="BO_table" class="table table-hover">
    <thead>
        <tr>
            <th>Paramètre</th>
            <th>Valeur</th>
            <th>Description</th>
            <th class="text-center">Actions</th>
        <tr>
    </thead>
    <tbody>
        {% for config in configs %}
        <tr>
            <td>{{ config.name| slice(3,1) | upper ~ config.name | slice(4) | replace({'_': ' '})}}</td>
            <td>
                {% if config.type == "color" %}
                    {% if config.value == "transparent" %}
                        <div>Transparent</div>
                    {% else %}
                        <div style="margin:auto;background-color:{{ config.value }};height:3rem;width:10rem;border:1px solid black;border-radius:5px;"></div>
                    {% endif %}
                {% else %}
                    {{ utils.content_converter(config.value, config.name) }}
                {% endif %}
            </td>
            <td>{{ config.description | nl2br }}</td>
            <td class="action">
                <div class="row">
                    <a href="{{ getPath('admin:config:update', {'id': config.identifier}) }}{% if key != "" %}?anchor={{key}}{% endif %}" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Modifier</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}