{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Configuration {{ title }}{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('admin:configs') }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section id="dashbord">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table id="BO_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Paramètre</th>
                                <th>Valeur</th>
                                <th>Description</th>
                                <th class="text-center">Actions</th>
                            <tr>
                        </thead>
                        <tbody>
                            {% for config in configs %}
                            <tr>
                                <td>{{ config.name| slice(3,1) | upper ~ config.name | slice(4) | replace({'_': ' '})}}</td>
                                <td>
                                    {% if config.type == "color" %}
                                    <div style="margin:auto;background-color:{{ config.value }};height:3rem;width:10rem;border:1px solid black;border-radius:5px;"></div>
                                    {% else %}
                                    {{ utils.content_converter(config.value, config.name, af_home_contact_title) }}
                                    {% endif %}
                                </td>
                                <td>{{ config.description }}</td>
                                <td class="action">
                                    <div class="row">
                                        <a href="{{ getPath('admin:config:update', {'id': config.identifier}) }}" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Modifier</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}