{% extends "/base.twig" %}

{% block title %}Modération des commentaires{% endblock %}
{% block subtitle %}
	<a id="retour" href="?action=dashboard" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}


    <div class="container">
        <section id="moderate">

            <div class="row">
                <div class="col">
                    <div>
                        <span>Filtres:</span>
                        <select id="filter">
                            <option {% if filter == "all" %}selected{% endif %} value="all">Tous</option>
                            <option {% if filter == "pending" %}selected{% endif %} value="pending">Non publiés</option>
                            <option {% if filter == "approved" %}selected{% endif %} value="approved">Publiés</option>
                        </select>
                    </div>

                    <div role="tabpanel" class="tab-pane active" id="date">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Modération</th>
                                    <th>Auteur</th>
                                    <th>Commentaire</th>
                                    <th>Projet</th>
                                    <th>Date de création</th>
                                    <th>Actions</th>
                                    <th></th>
                                <tr>
                            </thead>
                            <tbody>
                                {% for comment in comments %}
                                    <tr>
                                        <td class="text-center">
                                        {% if comment.moderate %}
                                            <i class="fa fa-check" style="color:green;" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-hourglass-half" style="color:orange;" aria-hidden="true"></i>
                                        {% endif %}
                                        </td>
                                        <td>{{ comment.author.username }}</td>
                                        <td>{{ comment.comment | u.truncate(50, '...')}}</td>
                                        <td>{{ comment.post.title | u.truncate(25, '...')}}</td>
                                        <td>{{ comment.frenchCreationDate }}</td>
                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-content="{{ comment.comment }}" data-post="{{ comment.post.title }}" data-postid="{{ comment.post.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#commentPreview"><i class="fa fa-eye"></i></button></td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmDeleteComment"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            {% if comment.moderate != 1 %}<button type="button" class="btn btn-success" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmValidateComment"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            {# <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li> #}
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>





    <!-- Modals -->
    <div class="modal fade" id="confirmDeleteComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment supprimer ce commentaire?</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="" class="btn btn-primary">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmValidateComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment valider ce commentaire?</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="" class="btn btn-primary">Valider</a>
                </div>
            </div>
        </div>
    </div>

	<div class="modal fade" id="commentPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
                <h5 class="modal-post"></h5>
                <div class="row">
                    <div style="margin-bottom: auto;" class="col-xs-1">
                        <img style="transform: rotate(0.5turn);" src="assets/img/quotation-marks.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-10">
                        <div class="modal-comment-content text-center"></div>
                    </div>
                    <div style="margin-top: auto;" class="col-xs-1">
                        <img src="assets/img/quotation-marks.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary lunchActionModal" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmValidateComment"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary lunchActionModal" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmDeleteComment"><i class="fa fa-trash" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/admin.js"></script>
<script>
    $(document).ready(function(){
        $('#filter').change(function(){
            var filter = $(this).val();
            window.location.href = '?action=commentAdmin&filter=' + filter;
        });
    });
</script>
{% endblock %}