{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Modération des commentaires{% endblock %}
{% block subtitle %}
	<a id="retour" href="/dashboard" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}


    <div class="container">
        <section id="moderate">

            <div class="row">
                <div class="col">
                    <div>
                        <span>Filtres:</span>
                        <select id="filter">
                            <option {% if filter == "all" %}selected{% endif %} value="all">Tous</option>
                            <option {% if filter == "pending" %}selected{% endif %} value="pending">Non publiés</option>
                            <option {% if filter == "approved" %}selected{% endif %} value="approved">Publiés</option>
                        </select>
                    </div>

                    <div role="tabpanel" class="tab-pane active" id="date">
                        <form method="post">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><input id="checkAll" type="checkbox"/></th>
                                    <th class="text-center">Modération</th>
                                    <th></th>
                                    <th>Auteur</th>
                                    <th>Commentaire</th>
                                    <th>Projet</th>
                                    <th>Date de création</th>
                                    <th>Actions</th>
                                    <th></th>
                                <tr>
                            </thead>
                            <tbody>
                                {% for comment in comments %}
                                    <tr 
                                        {% if comment.moderate == null %}
                                        class="warning"
                                        {% elseif comment.moderate == 1 %}
                                        class="success"
                                        {% elseif comment.moderate == 2 %}
                                        class="danger"
                                        {% endif %}
                                    >
                                        <td>
                                            <input class="checkbox" type="checkbox" name="comment[]" value="{{ comment.identifier }}" />
                                        </td>
                                        <td class="text-center">
                                        {% if comment.moderate == null %}
                                            <i class="fa fa-hourglass-half fa-2x" style="color:orange;" aria-hidden="true"></i>
                                        {% elseif comment.moderate == 1 %}
                                            <i class="fa fa-check fa-2x" style="color:green;" aria-hidden="true"></i>
                                        {% elseif comment.moderate == 2 %}
                                            <i class="fa fa-times fa-2x" style="color:red;" aria-hidden="true"></i>
                                        {% endif %}
                                        </td>
                                        <td>
                                        <div id="divOverview" class="user" style="width: 4rem;">
                                            <img id="thumbnailOverview" src={% if comment.author.picture is empty %}"/assets/img/profile.png"{% else %}{{ comment.author.picture }}{% endif %} class="img-responsive" alt="{{ user.first }} {{ user.last }}">
                                        </div></td>
                                        <td>{{ comment.author.username }}</td>
                                        <td>{{ comment.comment | u.truncate(200, '...')}}</td>
                                        <td>{{ comment.post.title | u.truncate(25, '...')}}</td>
                                        <td>{{ comment.frenchCreationDate }}</td>
                                        <td class="text-center">
                                            {# <button type="button" class="btn btn-danger" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmCommentDelete"><i class="fa fa-trash" aria-hidden="true"></i></button> #}
                                            {% if comment.moderate != null %}
                                                <button type="button" class="btn btn-default" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmCommentInvalidate"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                            {% else %}
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmCommentValidate"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#confirmCommentRefuse"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            {% endif %}
                                        </td>
                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-identifier="{{ comment.identifier }}" data-content="{{ comment.comment }}" data-post="{{ comment.post.title }}" data-postid="{{ comment.post.identifier }}" data-title="de {{ comment.author.username }} (id:{{ comment.identifier }})" data-target="#commentPreview"><i class="fa fa-eye"></i></button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p id='actions'>
                            Commentaires sélectionnés: 
                            <input type="submit" class="btn btn-default" name="btnSubmit" value="Invalider">
                            <input type="submit" class="btn btn-success" name="btnSubmit" value="Valider">
                            <input type="submit" class="btn btn-danger" name="btnSubmit" value="Refuser">
                        </p>
                        </form>
                    </div>
                    {{ utils.pagination(nbPage) }}
                </div>
            </div>
        </section>
    </div>





    <!-- Modals -->
    <div class="modal fade" id="confirmCommentInvalidate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment annuler?</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="" class="btn btn-primary">Confirmer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmCommentValidate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment valider ce commentaire?</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="" class="btn btn-primary">Valider</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmCommentRefuse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment refuser ce commentaire?</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="" class="btn btn-primary">Refuser</a>
                </div>
            </div>
        </div>
    </div>

	<div class="modal fade" id="commentPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
                <h5 class="modal-post"></h5>
                <div class="row">
                    <div style="margin-bottom: auto;" class="col-xs-1">
                        <img style="transform: rotate(0.5turn);" src="/assets/img/quotation-marks.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-10">
                        <div class="modal-comment-content text-center"></div>
                    </div>
                    <div style="margin-top: auto;" class="col-xs-1">
                        <img src="/assets/img/quotation-marks.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/js/admin.js"></script>
<script>
    $(document).ready(function(){
        $('#filter').change(function(){
            var filter = $(this).val();
            window.location.href = '/admin/comments/' + filter;
        });
        $('#checkAll').change(function(){
            if($(this).is(':checked')){
                $('.checkbox').prop('checked', true);
                $('#actions').show();
            }else{
                $('.checkbox').prop('checked', false);
                $('#actions').hide();
            }
        });
        $('#actions').hide();
        $('.checkbox').change(function(){
            if($('.checkbox:checked').length > 0){
                $('#actions').show();
            }else{
                $('#actions').hide();
            }
        });
    });
</script>
{% endblock %}