{% extends "/base.twig" %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}Erreur {% if error.code > 0 %}{{ error.code }}{% endif %} !!{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('home') }}" ><i class="fa fa-home" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
<section>
	<div class="container">
		<div class="alert alert-danger" role="alert">
			{% if getEnv() == 'DEV' %}
				<dl class="dl-horizontal text-center">
					{% if error.code > 0 %}
						<dt>Code</dt>
						<dd>{{ error.code }}</dd>
					{% endif %}
					<dt>Message</dt>
					<dd>{{ error.message | raw  }}</dd>
					{% if error.code != 404 %}
						<dt>Fichier</dt>
						<dd>{{ error.file }} <strong>(line:{{ error.line }})</strong></dd>
					{% endif %}
					{% if error.trace is defined %}
						<br>
						<dt>Trace</dt>
						<dd class="text-left">{{ error.trace | raw }}</dd>
					{% endif %}
				</dl>
			{% else %}
				<p class="text-center">{{ error.message | raw  }}</p>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}
