{% import "macros/utils.twig" as utils %}
{% extends "/base.twig" %}

{% block title %}Bienvenue sur mon blog{% endblock %}
{% block subtitle %}{% if cs_slogan %}" {{ cs_slogan }} "{% endif %}{% endblock %}

{% block imageHeader %}
    <img id="imageHeader" class="img-responsive" src="/assets/img/logo.png" alt="">
{% endblock %}

{% block main %}

    <!-- Dashbord Grid Section -->
    <section id="dashbord">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-sm-12 dashbord-item">
                    <div id="myCarousel" class="carousel slide" data-pause="null" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for post in posts %}
                                <li data-target="#myCarousel" data-slide-to={{ loop.index }} class="{% if loop.index == 1 %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for post in posts %}
                                <div class="item {% if loop.index == 1 %}active{% endif %}">
                                    {% if post.picture is not empty %}
                                        <img class="back-slide" src="{{ post.picture }}" alt="Back slide">
                                    {% else %}
                                        <img class="back-slide" src="/assets/img/logo.png" alt="Back slide">
                                    {% endif %}
                                    <div class="carousel-caption">
                                        <div class="carousel-txt">
                                            <h3>{{ post.title }}</h3>
                                            {% if post.chapo is not empty %}
                                                <p>{{ post.chapo }}</p>
                                            {% endif %}
                                            {% if post.url is not empty %}
                                                <p><a target="_blank" href="{{ post.url }}"><code>{{ post.url }}</code></a></p>
                                            {% endif %}
                                        </div>
                                        <p><a class="btn btn-lg btn-success" href="/post/{{ post.identifier}}" role="button">En savoir plus <i class="fa fa-search-plus" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="icon-prev" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="icon-next" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <a class="btn btn-lg btn-primary" href="/posts" role="button">VOIR TOUS LES PROJETS</a>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            {% if af_home_content_title != "" %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ af_home_content_title }}</h2>
                    <hr class="star-light">
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-5 col-lg-push-5 col-lg-2  text-center">
                    {{ utils.content_converter(af_home_content_1) }}
                </div>
                <div id="intro" class="col-md-6 col-lg-pull-2 col-lg-5 text-center">
                    {{ utils.content_converter(af_home_content_2) }}
                </div>
                <div class="col-lg-5 text-center">
                    {{ utils.content_converter(af_home_content_3) }}
                </div>
            </div>
        </div>
    </section>

    {% if af_contact_form_display == 'ON' %}
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Formulaire de contact</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="form-contact" action="" method="post">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nom</label>
                                <input type="text" class="form-control" placeholder="Nom" name="name" value="{{ getUserParam("username") }}" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Adresse E-mail</label>
                                <input type="email" class="form-control" placeholder="Adresse E-mail" name="email" value="{{ getUserParam("email") }}" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Téléphone *</label>
                                <input type="tel" class="form-control" placeholder="Téléphone *" name="phone" >
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="3" class="form-control" placeholder="Message" name="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div>* optionnel</div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 text-center">
                                <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}

{% block script %}
<script src="/assets/js/slider.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LfOJ2wiAAAAAO6YOrFALnODbeucz1jaUWPGc0uI"></script>
<script>
    $("#form-contact").submit(function(e) {
        form = this;
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6LfOJ2wiAAAAAO6YOrFALnODbeucz1jaUWPGc0uI', {action: 'submit'}).then(function(token) {
                form.submit();
            });
        });
    });
</script>
{% endblock %}