{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Catégories{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('home') }}" ><i class="fa fa-home" aria-hidden="true"></i></a>
{% endblock %}

{% block head %}
<link href="{{ asset('css/categories.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<section id="posts" class="container">
	<div class="row">
        {% for category in categories %}
		<div class="hero-center-section">
			<div class="left-text">{{ category.name|split(" ")|reverse|join(" ") }}</div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="img-wrap">
						</div>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
        <div class="hero-center-section">
			<div class="left-text">{{ "Toutes les publications"|split(" ")|reverse|join("<br>")|raw }}</div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="img-wrap">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section over-hide z-bigger">
			<ul class="slide-buttons">
                {% for category in categories %} 
                {# 5 MAX #}
				<li class="">
					<a href="{{ getPath('post:id', {'id':category.identifier}) }}" class="hover-target" data-hover="{{ category.name }}">{{ category.name }}</a>
				</li>
                {% endfor %}
				<li class="active">
					<a href="{{ getPath('post:id', {'id':category.identifier}) }}" class="hover-target" data-hover="Toutes les publications">Toutes les publications</a>
				</li>
			</ul>
		</div>
	</div>
</section>

{% endblock %}
{% block script %}
<script>
(function($) { "use strict";
	$(document).ready(function() {	
		
		/* Hero Case study images */			
		
		$('.slide-buttons li:nth-child(1)').on('mouseenter', function() {
			$('.slide-buttons li.active').removeClass('active');
			$('.hero-center-section.show').removeClass("show");
			$('.hero-center-section:nth-child(1)').addClass("show");
			$('.slide-buttons li:nth-child(1)').addClass('active');
		})
		$('.slide-buttons li:nth-child(2)').on('mouseenter', function() {
			$('.slide-buttons li.active').removeClass('active');
			$('.hero-center-section.show').removeClass("show");
			$('.hero-center-section:nth-child(2)').addClass("show");
			$('.slide-buttons li:nth-child(2)').addClass('active');
		})
		$('.slide-buttons li:nth-child(3)').on('mouseenter', function() {
			$('.slide-buttons li.active').removeClass('active');
			$('.hero-center-section.show').removeClass("show");
			$('.hero-center-section:nth-child(3)').addClass("show");
			$('.slide-buttons li:nth-child(3)').addClass('active');
		})
		$('.slide-buttons li:nth-child(4)').on('mouseenter', function() {
			$('.slide-buttons li.active').removeClass('active');
			$('.hero-center-section.show').removeClass("show");
			$('.hero-center-section:nth-child(4)').addClass("show");
			$('.slide-buttons li:nth-child(4)').addClass('active');
		})
		$('.slide-buttons li:nth-child(5)').on('mouseenter', function() {
			$('.slide-buttons li.active').removeClass('active');
			$('.hero-center-section.show').removeClass("show");
			$('.hero-center-section:nth-child(5)').addClass("show");
			$('.slide-buttons li:nth-child(5)').addClass('active');
		})
		$('.slide-buttons li:nth-child(6)').on('mouseenter', function() {
			$('.slide-buttons li.active').removeClass('active');
			$('.hero-center-section.show').removeClass("show");
			$('.hero-center-section:nth-child(6)').addClass("show");
			$('.slide-buttons li:nth-child(6)').addClass('active');
		})
        $('.slide-buttons li.active').trigger('mouseenter')
		// $('.slide-buttons li:nth-child(1)').trigger('mouseenter')   
		
	});
})(jQuery); 
</script>
{% endblock %}
