{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}{% if category.name %}{{ category.name }} {% else %} Tous les articles {% endif %}{% endblock %}
{% block subtitle %}
	<a id="retour" href="{{ getPath('home') }}" ><i class="fa fa-home" aria-hidden="true"></i></a>
    <a id="oneTool" href="{{ getPath('posts:categories') }}" ><i class="fa fa-list" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section id="posts" class="container">
        <ol class="breadcrumb">
            <li><a href="{{ getPath('home') }}">Accueil</a></li>
            <li class="active">{{ category.name }}</li>
		</ol>
        <div class="row">
            {{ utils.pagination(nbPage) }}
            {% for post in posts %}
                <div class="col">
                    <div class="thumbnail thumbnail-custom">
                        {% if category.name == "" %}
                        <span class="label label-success">{{ post.category.name ?? "Non classé"}}</span>
                        {% endif %}
                        <div class="row text-center">
                            <div class="{% if post.picture is not empty %}col-lg-8{% else %}col-lg-12{% endif %}">
                                <div class="caption">
                                    <div class="post_head">
                                        <a href="{{ getPath('post', {"id": post.identifier}) }}"><h3>{{ post.title }} </h3></a>
                                        <em>mis à jour le {{ post.frenchCreationDate }}</em>
                                    </div>
                                    {% if post.chapo %}
                                        <p>{{ post.chapo | nl2br}}</p>
                                    {% else %}
                                        <p>{{ post.content |  u.truncate(200, '...', false) | nl2br }}</p>
                                    {% endif %}
                                    <p><a href="{{ getPath('post', {"id": post.identifier}) }}" class="btn btn-plus btn-primary" role="button">Voir plus</a></p>
                                </div>
                            </div>
                            {% if post.picture is not empty %}
                            <div class="col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-0">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <img src="{{ post.picture }}" alt="{{ post.title }} image" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ utils.pagination(nbPage) }}
        </div>
    </section>
{% endblock %}
