{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}{% if category.name %}{{ category.name }} {% else %} Tous les articles {% endif %}{% endblock %}
{% block subtitle %}
	<a id="retour" href="/" ><i class="fa fa-home" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section id="posts" class="container">
        <div class="row">
            {{ utils.pagination(nbPage) }}
            {% for post in posts %}
                <div class="col">
                    <div class="thumbnail thumbnail-custom">
                        <div class="row text-center">
                            <div class="col-lg-8">
                                <div class="caption">
                                    <div class="post_head">
                                        <a href="{{ getPath('post', {"id": post.identifier}) }}"><h3>{{ post.title }} </h3></a>
                                        <em>mis à jour le {{ post.frenchCreationDate }}</em>
                                    </div>
                                    {% if post.chapo %}
                                        <p>{{ post.chapo | nl2br}}</p>
                                    {% else %}
                                        <p>{{ post.content |  u.truncate(200, '...', false) | nl2br }}</p>
                                    {% endif %}
                                    <p><a href="post/{{  post.identifier }}" class="btn btn-plus btn-primary" role="button">Voir plus</a></p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-0">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        {% if post.picture is not empty %}
                                            <img src="{{ post.picture }}" alt="{{ post.title }} image" class="img-thumbnail">
                                        {% else %}
                                            <img src="/assets/img/logo.png" alt="no image" class="img-thumbnail">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ utils.pagination(nbPage) }}
        </div>
    </section>
{% endblock %}
